@import "tailwindcss";
@import "flowbite/src/themes/default";
.home { 
  background-image: url("./assets/images/light-patten.svg");
}

.active {
  color: #0aad0a;
}

.slick-dots li.slick-active div {
  background-color: black;
}